@page "/"
@inject IStatsService StatsService
@inject PersistentComponentState ApplicationState
@implements IDisposable
@using BlazorServerPrerendering.Services

<PageTitle>NHL All Time Most Points Scored</PageTitle>

<h1>NHL All Time Most Points Scored</h1>
<table>
    <thead>
        <tr>
            <th style="width: 180px;">Name</th>
            <th style="width: 140px;">Games Played</th>
            <th style="width: 140px;">Points Scored</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Players)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.GamesPlayed</td>
                <td>@player.Points</td>
            </tr>
        }
    </tbody>
</table>

@code {
    public IEnumerable<Player> Players { get; set; } = new List<Player>();
    private PersistingComponentStateSubscription _persistingSubscription;

    protected async override Task OnInitializedAsync()
    {
        _persistingSubscription = ApplicationState.RegisterOnPersisting(PersistData);

        var statedLoaded = ApplicationState.TryTakeFromJson<IEnumerable<Player>>("players", out var players);

        Players = statedLoaded && players != null ? players : await StatsService.GetMostCareerPoints();
    }

    private Task PersistData()
    {
        ApplicationState.PersistAsJson("players", Players);
        return Task.CompletedTask;
    }

    public void Dispose()
    {
        _persistingSubscription.Dispose();
    }
}
